# Google API Credentials & Tokens
credentials.json
tokens.json
processed_videos.json

# Dependencies
node_modules/
package-lock.json

# Local config / logs
*.log
.system_generated/

# Local Netlify folder
.netlify
